/*  Design tokens 
/* =================================== */
:root {
  /*  Palette 
  /* =================================== */
  --colorWhite: #fff;
  --colorNeutral100: #f9f9fa;
  --colorNeutral200: #f2f4f5;
  --colorNeutral300: #e6e9eb;
  --colorNeutral400: #dce0e4;
  --colorNeutral500: #9298a0;
  --colorNeutral600: #6a707a;
  --colorNeutral700: #666e7a;
  --colorNeutral800: #515964;
  --colorNeutral900: #141618;
  --colorRed100: #fff5f5;
  --colorRed300: #e46969;
  --colorRed400: #ef4444;
  --colorRed500: #d23031;
  --colorRed700: #C13F39;
  --colorRed900: #9e2122;
  --colorGreen100: #ebfff0;
  --colorGreen300: #4ade80;
  --colorGreen400: #22c55e;
  --colorGreen500: #00a454;
  --colorGreen900: #008141;
  --colorOrange100: #fff6f0;
  --colorOrange300: #fdba74;
  --colorOrange400: #f97316;
  --colorOrange500: #e36b00;
  --colorOrange900: #ba4e00;

  /*  Core tokens 
  /* =================================== */
  --fontFamily: var(--fontFamilyFontFamilyFontFamilyBody);
  --headingFontFamily: var(--fontFamilyFontFamilyFontFamilyHeading);
  --borderRadiusSmall: var(--borderRadiusBorderRadiusBorderRadius200);
  --borderRadiusDefault: var(--borderRadiusBorderRadiusBorderRadius300);
  --borderRadiusLarge: var(--borderRadiusBorderRadiusBorderRadius400);
  --navItemBorderRadius: var(--borderRadiusDefault);
  --transitionDefault: 200ms all ease-in-out;
  --boxShadowLevel0: var(--shadowShadowNone);
  --boxShadowLevel1: var(--shadowShadow01);
  --boxShadowLevel2: var(--shadowShadow02);

  /*  Semantic 
  /* =================================== */
  /* main text */
  --colorInkPrimary: var(--colorColorTextDefault);
  /* secondary text */
  --colorInkSecondary: var(--colorColorTextWeak);
  /* eyebrow headings */
  --colorInkTertiary: var(--colorColorTextWeakest);
  /* inverted text, e.g. for us on dark bg */
  --colorInkInverted: var(--colorColorTextInverseDefault);
  /* Main bg for components */
  --colorBackgroundPrimary: var(--colorColorBackgroundDefault);
  /* Secondary background (code, etc) ... */
  --colorBackgroundSecondary: var(--colorColorBackgroundWeak);
  /* For hovers, etc., works on both Primary and Secondary ... */
  --colorBackgroundAlt: var(--colorColorBackgroundWeaker);
  /* inputs, s... */
  --colorBorderProminent: var(--colorColorBorderWeak);
  /* soft borders ... */
  --colorBorderSubtle: var(--colorColorBorderDefault);
  /* for page structure */
  --colorBorderStructure: var(--colorBorderSubtle);
  /* links, active states, ... */
  --colorAccent: var(--colorColorTextDefault);
  /* hovers for primary */
  --colorAccentAlt: var(--colorColorTextWeak);
  /* Background for active items, e.g. in left nav or tabs */
  --colorAccentSurface: var(--colorColorBackgroundWeak);
  /* Ink color on accent */
  --colorAccentInk: var(--colorColorTextInverseDefault);
  /* Inline code mark color */
  --colorCodeMark: var(--colorColorTextInfo);

  --fontWeightRegular: 400;
  --fontWeightSemibold: 600;
  --fontWeightBold: 700;

  /* Site */
  --pageBackground: var(--colorColorBackgroundDefault);

  /* CTA button */
  --ctaButtonBackground: var(--colorColorBackgroundInverseDefault);
  --ctaButtonBackgroundHover: var(--colorColorBackgroundInverseWeak);
  --ctaButtonInk: var(--colorColorTextInverseDefault);
  

  /* Block: Banner */
  --calloutSuccessInk: var(--colorColorTextPositive);
  --calloutSuccessInkSecondary: var(--colorColorTextPositive);
  --calloutSuccessBackground: var(--colorColorBackgroundPositiveWeakest);
  --calloutWarningInk: var(--colorColorTextWarning);
  --calloutWarningInkSecondary: var(--colorColorTextWarning);
  --calloutWarningBackground: var(--colorColorBackgroundWarningWeakest);
  --calloutDangerInk: var(--colorColorTextCritical);
  --calloutDangerInkSecondary: var(--colorColorTextCritical);
  --calloutDangerBackground: var(--colorColorBackgroundCriticalWeakest);
  --calloutInfoInk: var(--colorColorTextInfo);
  --calloutInfoInkSecondary: var(--colorColorTextInfo);
  --calloutInfoBackground: var(--colorColorBackgroundInfoWeakest);
  --calloutPrimaryInk: var(--colorColorTextDefault);
  --calloutPrimaryInkSecondary: var(--colorColorTextDefault);
  --calloutPrimaryBackground: var(--colorColorBackgroundWeak);
}
